@model IEnumerable<ApplicationBDO.Models.LogModels>

@{
    ViewBag.Title = "Index";
}

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-orange2" id="wid-id-1" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <a href="@Url.Action("Delete", "CompanySQLMySQL")" class="btn bg-color-orange2 txt-color-white float-right" rel="tooltip" data-original-title="Delete"><i class="fa fa-plus"></i> DELETE </a>
                        <a href="@Url.Action("Update", "CompanySQLMySQL")" class="btn bg-color-orange2 txt-color-white float-right" rel="tooltip" data-original-title="Update"><i class="fa fa-plus"></i> UPDATE </a>
                        <a href="@Url.Action("Select", "CompanySQLMySQL")" class="btn bg-color-orange2 txt-color-white float-right" rel="tooltip" data-original-title="Select"><i class="fa fa-plus"></i> SELECT </a>
                        <a href="@Url.Action("Insert", "CompanySQLMySQL")" class="btn bg-color-orange2 txt-color-white float-right" rel="tooltip" data-original-title="Insert"><i class="fa fa-plus"></i> INSERT </a>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.OperationName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.OperationTime)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Database)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.OperationDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.NumberOfRecords)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.NumberOfFieldsModel)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.NoTracing)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SizeFile)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BulkLoading)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EntityFramework)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.NameAPI)
                                        </th>
                                    </tr>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OperationName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OperationTime)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Database)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OperationDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NumberOfRecords)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NumberOfFieldsModel)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NoTracing)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SizeFile)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BulkLoading)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EntityFramework)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NameAPI)
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

