@using ApplicationBDO.App_Helpers;

<aside id="left-panel">
    <div class="login-info">
        <span>
            <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                <span>@User.FullName() </span>
            </a>
        </span>
    </div>
    <nav>
        <ul>
            <li>
                <a href="@Url.Action("IndexLoadApiToFile", "CompanyLoad")"><i class="fa fa-lg fa-fw fa-briefcase"></i> <span class="menu-item-parent">Load api to file</span></a>
            </li>
            <li>
                <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-fw fa-user"></i> <span class="menu-item-parent">Company SQL</span></a>
                <ul style="@Html.MenuChildOpenIf("CompanySQL")">
                    <li>
                        <a href="@Url.Action("IndexFileToSql", "CompanySQL")"><i class="fa fa-lg fa-fw fa-building"></i> <span class="menu-item-parent">Load file to Sql</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-fw fa-users"></i> <span class="menu-item-parent">Company NoSQL</span></a>
                <ul style="@Html.MenuChildOpenIf("CompanyNoSQL")">
                    <li>
                        <a href="@Url.Action("IndexFileToNoSql", "CompanyNoSQL")"><i class="fa fa-lg fa-fw fa-file-code-o"></i> <span class="menu-item-parent">Load file to NoSql</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("ChangePassword", "Manage")"> <i class="fa fa-lg fa-fw fa-edit"></i> <span class="menu-item-parent">Change password</span></a>
            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left"></i>
    </span>
</aside>