@using ApplicationBDO.App_Helpers;

<aside id="left-panel">
    <div class="login-info">
        <span>
            <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                <span>@User.FullName() </span>
            </a>
        </span>
    </div>
    <nav>
        <ul>
            <li>
                <a href="@Url.Action("Index", "CompanyLoad")"><i class="fa fa-lg fa-fw fa-briefcase"></i> <span class="menu-item-parent">Load api to file</span></a>
            </li>
            <li>
                <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-fw fa-user"></i> <span class="menu-item-parent">Sql-MSSQLExpress</span></a>
                <ul style="@Html.MenuChildOpenIf("CompanySQLMSSQLExpress")">
                    <li>
                        <a href="@Url.Action("Index", "CompanySQLMSSQLExpress")"><i class="fa fa-lg fa-fw fa-building"></i> <span class="menu-item-parent">Load file</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-fw fa-user"></i> <span class="menu-item-parent">Sql-MySQL</span></a>
                <ul style="@Html.MenuChildOpenIf("CompanySQLMySQL")">
                    <li>
                        <a href="@Url.Action("Index", "CompanySQLMySQL")"><i class="fa fa-lg fa-fw fa-building"></i> <span class="menu-item-parent">Load file</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-fw fa-user"></i> <span class="menu-item-parent">Sql-SQLite</span></a>
                <ul style="@Html.MenuChildOpenIf("CompanySQLSQLLite")">
                    <li>
                        <a href="@Url.Action("Index", "CompanySQLSQLite")"><i class="fa fa-lg fa-fw fa-building"></i> <span class="menu-item-parent">Load file</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-fw fa-users"></i> <span class="menu-item-parent">NoSql-MongoDB</span></a>
                <ul style="@Html.MenuChildOpenIf("CompanyNoSQLMongoDB")">
                    <li>
                        <a href="@Url.Action("Index", "CompanyNoSQLMongoDB")"><i class="fa fa-lg fa-fw fa-file-code-o"></i> <span class="menu-item-parent">Load file</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-fw fa-users"></i> <span class="menu-item-parent">NoSql-RavenDB</span></a>
                <ul style="@Html.MenuChildOpenIf("CompanyNoSQLRavenDB")">
                    <li>
                        <a href="@Url.Action("Index", "CompanyNoSQLRavenDB")"><i class="fa fa-lg fa-fw fa-file-code-o"></i> <span class="menu-item-parent">Load file</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-fw fa-users"></i> <span class="menu-item-parent">NoSql-LiteDB</span></a>
                <ul style="@Html.MenuChildOpenIf("CompanyNoSQLLiteDB")">
                    <li>
                        <a href="@Url.Action("Index", "CompanyNoSQLLiteDB")"><i class="fa fa-lg fa-fw fa-file-code-o"></i> <span class="menu-item-parent">Load file</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("ChangePassword", "Manage")"> <i class="fa fa-lg fa-fw fa-edit"></i> <span class="menu-item-parent">Change password</span></a>
            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left"></i>
    </span>
</aside>