@model IEnumerable<ApplicationBDO.Models.CompanyModels>

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-orange2" id="wid-id-1" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <a href="@Url.Action("GetCompanySQL", "Company")" class="btn bg-color-orange2 txt-color-white float-right" rel="tooltip" data-original-title="Dodaj"><i class="fa fa-plus"></i> Wczytaj dane</a>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CompanyId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.RegistrationNumber)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.NIP)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Pesel)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Country)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Address)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PostalCode)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Teryt)
                                        </th>
                                        <th>Akcje</th>
                                    </tr>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CompanyId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RegistrationNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NIP)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Pesel)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Country)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Address)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PostalCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Teryt)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Edit", "Company", new {id = item.Id})" class="btn btn-default" rel="tooltip" data-placement="bottom" data-original-title="Edytuj"><i class="fa fa-pencil"></i></a>
                                                <a href="@Url.Action("Delete", "Company", new {id = item.Id})" class="btn btn-default" rel="tooltip" data-placement="bottom" data-original-title="Usuń"><i class="fa fa-remove"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

